:root {
  --blue: #007bc1;
  --dark-blue: #004a75;
  --orange: #fba200;
  --dark-orange: #cc6600;
  --smoke-grey: #e5e5e5;
  --dark-grey: #323232;
  --light-grey: #aeaeae;
  --very-dark-blue: #050328;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 20px;
  font-weight: 400;
}

button {
  padding: 0 40px;
  height: 60px;
  border-radius: 5px;
}

.container {
  width: 100%;
  text-align: center;
}

.content {
  max-width: 1366px;
  margin: auto;
  padding: 20px;
}

/* notification panel */
notification-panel .container {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--smoke-grey);
}

notification-panel .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 720px;
}

notification-panel .content > p {
  margin-right: 25px;
  text-align: left;
  font-size: 16px;
}

notification-panel button {
  height: 55px;
  padding: 0 25px;
  background-color: var(--blue);
  border: none;
  color: white;
}

notification-panel button p {
  font-size: 18px;
}

/* hero banner */
hero-banner {
  color: white;
}

hero-banner .content {
  padding: 150px 20px 220px;
}

hero-banner .container {
  background-image: url("assets/images/work-desk__dustin-lee.jpg"), linear-gradient(var(--dark-blue), var(--dark-blue));
  background-blend-mode: overlay;
  background-size: cover;
  padding: 20px;
}

hero-banner .page-header {
  text-align: left;
}

hero-banner button {
  text-transform: uppercase;
  margin-top: 40px;
  color: white;
  border: solid white 2px;
  background-color: transparent;
  font-weight: 600;
}

hero-banner button:hover {
  color: var(--dark-blue);
  background-color: white;
}

/* highlights panel */
highlights-panel .container {
  background-color: var(--smoke-grey);
  color: var(--dark-grey);
}

highlights-panel .content {
  padding: 100px 0px;
}

highlights-panel .content .header {
  padding: 0px 20px;
  max-width: 766px;
  margin: auto;
}

highlights-panel .tiles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-top: 75px;
  padding-left: 50px;
  padding-right: 50px;
}

highlights-panel-tile .tile {
  padding: 25px;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 50%), inset 0px 0px 2px white;
  height: 100%;
}

highlights-panel-tile .tile > div {
  display: flex;
  justify-content: space-between;
}

highlights-panel-tile .tile i {
  font-size: 24px;
  color: var(--light-grey);
}

highlights-panel-tile .tile > p {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}

/* page footer */
page-footer .container {
  padding: 50px 20px;
  background-color: var(--very-dark-blue);
  color: var(--blue);
  font-size: 12px;
}

/* newsletter panel */
newsletter-panel > div {
  z-index: 1;
  width: 640px;
  max-width: 100%;
  padding: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 123, 193, 0.9);
  color: white;
  text-align: left;
}

newsletter-panel > div button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 20px;
}

newsletter-panel > div > p {
  font-size: 15px;
}

newsletter-panel h1 {
  font-size: 28px;
}

newsletter-panel form {
  display: flex;
  margin-top: 30px;
}

newsletter-panel form input[type="email"] {
  padding: 10px 15px;
  flex-grow: 1;
  margin-right: 10px;
}

newsletter-panel form input[type="submit"] {
  padding: 10px 15px;
  background-color: var(--orange);
  color: white;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 960px) {
  highlights-panel .tiles {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 480px) {
  notification-panel .content > p {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  notification-panel .content {
    flex-direction: column;
    align-items: flex-start;
  }

  notification-panel button {
    height: 35px;
    padding: 0 12px;
  }

  highlights-panel .tiles {
    grid-template-columns: auto;
  }

  newsletter-panel > div {
    padding: 40px 25px 25px;
  }

  newsletter-panel form {
    flex-direction: column;
  }

  newsletter-panel form input[type="email"] {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
